.form-spacing-top {
    margin-top: 20px;
}
.btn-h1-spacing {
    margin-top: 10px;
}
.btn-login-spacing {
    margin-top: 7px;
}
.btn-container {
    margin-top: 20px;
}
.copyright-container {
	padding: 20px;
	text-align: center;
}

.comment {
    margin-bottom: 45px;
}

.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

.author-name {
    float: left;
    margin-left: 15px;
}

.author-name>h4 {
    margin: 5px 0;
}

.author-time {
    font-size: 11px;
    font-style: italic;
    color: #aaa;
}

.comment-content {
    clear: both;
    margin-left: 65px;
    font-size: 16px;
    line-height: 1.3em;
}

.comment-title {
    margin-bottom: 20px;
}